@use "@styles/_variables.scss" as *;
@use "@styles/_mixins.scss" as *;

.container {
  max-width: 100%;
  flex-direction: row;
  vertical-align: center;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  padding: 15px 15px 0px 15px;

  margin-top: 15px;
}

.blockWrapper {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  position: relative; // Для абсолютного позиционирования кнопок
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  @include headline-2;
  margin: 0;

  @media screen and (max-width: 1200px) {
    @include headline-2-tablet;
  }

  @media screen and (max-width: 480px) {
    @include headline-2-mobile;
  }
}

.sliderWrapper {
  width: 100%;
  position: relative;
}
