@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/variables" as *;

.tab {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  background-color: #f5f5f5;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  color: #2c2c2c;
  margin-right: 8px;
  white-space: nowrap;
}

