@use "@styles/_variables.scss" as *;
@use "@styles/_mixins.scss" as *;

.productMainCharacteristics {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 10px;
}
.productMainCharacteristicsItem {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.productMainCharacteristicsName {
  font-size: 14px;
  font-weight: 400;
  color: $color-black;
  opacity: 0.7;
}

.productMainCharacteristicsValue {
  font-size: 14px;
  font-weight: 600;
  color: $color-black;
}
