@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/variables" as *;

.tab {
  display: inline-flex;
  align-items: center;
  height: 24px;
  padding: 8px 8px;
  background-color: #f3a540;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  color: #2c2c2c;
  margin-right: 8px;
  margin-top: 10px;
  white-space: nowrap;
  vertical-align: top;
}
