.drawer {
  position: fixed;
  top: 0;
  right: -150vw;
  width: 400px;
  height: 100%;
  max-height: 100vh;
  background-color: var(--CardBGGray);
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 1001; /* Выше, чем у overlay */
  transition: right 0.3s ease;

  @media screen and (max-width: 400px) {
    width: 100vw;
  }
}

.open {
  right: 0;
}

.drawerContent {
  padding: 0px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  height: 100%;
}

.closeButton {
  cursor: pointer;
}

.drawerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* На единицу ниже, чем у drawer */
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  justify-content: flex-start;
  height: 100%;
}

.applyButton {
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
  background-color: var(--AccentColorBlue);
  color: var(--WhiteColorFont);
  width: calc(100% - 30px);

  &.disabled {
    background-color: var(--DarkColorFont);
    opacity: 0.3;
    cursor: not-allowed;
  }

  &:hover {
  }
}
