.container {
  max-width: 100%;
  flex-direction: row;
  vertical-align: center;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  padding: 40px 15px;
}

.blockWrapper {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

