.container {
  max-width: 100%;
  flex-direction: row;
  vertical-align: center;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;

  margin-top: 20px;
}

.blockWrapper {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

