@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.content {
  position: absolute;
  top: 50px;
  background-color: #fff;
  width: 100vw;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  height: calc(100vh - var(--header-height, 80px));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.title {
  @include headline-3;
  margin-left: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
  width: calc(100vw - 30px);
  border-bottom: 1px $color-black solid;
  flex-shrink: 0;
  @media screen and (max-width: 1200px) {
    @include headline-3-tablet;
  }

  @media screen and (max-width: 480px) {
    @include headline-3-mobile;
  }
}

.categoryList {
  display: flex;
  flex-direction: column;
  gap: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px;
  padding-bottom: 80px;
  flex: 1;
  min-height: 0;

  &::-webkit-scrollbar {
    width: 4px;
    cursor: grab;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 2px;
    cursor: grab;
  }
}

.categoryItem {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 4px;
}

.resetButton {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
  flex-shrink: 0;
}

.customCard {
  margin: 0px !important;
  align-items: center;

  &:hover {
    background-color: transparent !important;
  }
}
