.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  width: 100%;
  padding: 8px;

  @media screen and (max-width: 380px) {
    min-height: 300px;
  }
}

.wrapper {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  width: 100%;
  padding: 0px 8px 0px 0px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  gap: 12px;
}

.title {
  font-size: 13px;
  text-align: left;
}

.description {
  font-size: 12px;
  color: #666;
  text-align: left;
  margin: 0;
  padding-top: 10px;
  padding-left: 0px;
  max-width: 80%;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;

  @media screen and (max-width: 400px) {
    display: none;
  }
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  overflow-x: visible;
}
.image {
  border-radius: 8px;
  border: 1px var(--CardBGGray) solid;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  width: 100%;
  padding: 8px;
  overflow: hidden;
  gap: 10px;
}

.article {
  font-size: 12px;
  color: #333;
  opacity: 0.8;
  text-align: left;
  width: 100%;
  text-wrap: nowrap;
  margin-top: 8px;
  margin-left: 8px;
}

.trash {
  cursor: pointer;
  color: var(--AccentColorBlue);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.counter {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 2px 8px;
  margin-top: 8px;
  font-family: Arial, sans-serif;
}

.counterBtn {
  background-color: transparent;
  border: none;
  color: var(--AccentColorBlue);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 2px;
}

.disabledCounterBtn {
  background-color: transparent;
  border: none;
  color: var(--AccentColorBlue);
  font-size: 16px;
  font-weight: bold;
  cursor: not-allowed;
  padding: 2px;
  color: #ccc;
}

.counterBtn:focus {
  outline: none;
}

.counterDisplay {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  flex: 1;
}

.finalyPrice {
  padding: 6px 8px;
  background-color: var(--CardBGGray);
  border-radius: 8px;
  font-size: 16px;
  position: absolute;
  bottom: -14px;
  right: 8px;
  color: #333;
  margin-top: 8px;
  width: max-content;
}
