@use "@styles/_mixins.scss" as *;

.breadcrumbsWrapper {
  @include container;
}

.container {
  max-width: 100%;
  flex-direction: row;
  vertical-align: center;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.cover {
  margin-top: 0px !important;
}

.title {
  color: var(--WhiteColorFont);
  max-width: 70%;
  @media screen and (max-width: 760px) {
    max-width: 100%;
  }
}

.desk {
  font-size: 18px;
  line-height: 155%;
  opacity: 0.8;
  color: var(--WhiteColorFont);
  max-width: 450px;
}

.text {
  color: var(--DarkColorFont);
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -0.3px;
  opacity: 0.8;
  margin-bottom: 15px;
  max-width: 680px;
}

.block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 60px;

  border-bottom: 1px var(--DarkBackgroundLight) solid;
  padding-bottom: 60px;

  @media screen and (max-width: 760px) {
    display: flex;
    flex-direction: column;
  }

  & .title {
    color: var(--DarkColorFont);
    margin-bottom: 30px;
  }

  & .content {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  & .image {
    margin-bottom: 30px;
    border-radius: 22px;

    object-fit: cover;
    object-position: left bottom;
    height: auto;
    width: 100%;
    max-width: 100%;

    & img {
      width: 100%;
      max-width: 100%;
    }

    @media screen and (max-width: 1100px) {
      width: 100%;
      height: 250px;
    }

    @media screen and (max-width: 920px) {
      width: 400px;
      height: 200px;
    }

    @media screen and (max-width: 760px) {
      width: 100%;
      height: 200px;
    }
  }
}

.facts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 60px;

  @media screen and (max-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 760px) {
    grid-template-columns: repeat(1, 1fr);
  }

  & .text {
    max-width: 450px;
  }

  & .image {
    margin-bottom: 15px;
  }
}

.factTitle {
  color: var(--AccentColorBlue);
  font-size: 32px;
  font-family: "Bebas Neue", sans-serif;

  line-height: 120%;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 15px;
}

.stepsJob {
  grid-column: 2 / 4;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;

  @media screen and (max-width: 520px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.stepCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 15px 15px;
  border-radius: 12px;

  border: 1.5px var(--AccentColorBlue) solid;
}

.stepNumber {
  color: var(--AccentColorBlue);
  font-size: 64px;
  opacity: 0.6;
  margin-bottom: 15px;
}

.nameStep {
  margin-bottom: 15px;
}
