.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  width: 100%;
}

.checkbox {
  width: 20px;
  height: 20px;
  accent-color: #007bff;
  cursor: pointer;

  &.error {
    accent-color: #dc3545;
  }
}

.checkboxText {
  font-weight: 500;
  width: max-content;
}

.errorText {
  color: #dc3545;
  font-size: 12px;
}
