.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  width: 100%;
}

.checkbox {
  width: 20px;
  height: 20px;
  accent-color: #007bff;
  cursor: pointer;
}

.checkboxText {
  font-weight: 500;
  width: max-content;
}
