.cover {
  width: 100%;
  background-image: url("/img/banners/banner.jpg");
  height: 240px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 15px 20px;

  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  @media (max-width: 640px) {
    & {
      height: 250px;
      padding: 15px 20px;
    }
  }

  /* На мобильном паддинги в 2 раза меньше */
  @media (max-width: 768px) {
    padding: 20px;
  }

  @media (max-width: 640px) {
    padding: 15px;
  }
}

.title {
  color: var(--WhiteColorFont);
  max-width: 70%;
  @media screen and (max-width: 760px) {
    max-width: 100%;
  }
}

.desk {
  font-size: 18px;
  line-height: 155%;
  opacity: 0.8;
  color: var(--WhiteColorFont);
  max-width: 450px;
}
