.resultHead {
    display: flex;
    border-radius: 12px;
    padding: 15px 0px;

    justify-content: space-between;
    width: 100%;
    align-items: center;

    & .icon {
        background-color: var(--PageBGSecond);
        border-radius: 22px;
        padding: 4px;
        cursor: pointer;

        &:hover {
            background-color: rgb(147, 236, 254);
        }
    }
}

.countProducts {
    font-size: 18px;
    font-weight: bold;
}
