$color-white: #fafafa;
$color-background-white: #f2f2f2;
$color-black: #2e3535;
$color-blue: #594ead;
$color-accent: #594ead;
$color-blue-secondr: #4538a5;
$color-border-white: #d7d7d7;
$border-line-white: 3px solid $color-border-white;

$headline-1: 38px;
$headline-1-tablet: 32px;
$headline-1-mobile: 24px;

$headline-2: 32px;
$headline-2-tablet: 28px;
$headline-2-mobile: 22px;

$headline-3: 28px;
$headline-3-tablet: 24px;
$headline-3-mobile: 22px;

$text-1: 20px;
$text-1-tablet: 18px;
$text-1-mobile: 16px;

$text-2: 18px;
$text-2-tablet: 16px;
$text-2-mobile: 14px;

$text-3: 16px;
$text-3-tablet: 14px;
$text-3-mobile: 12px;

$border-radius-big: 32px;
$border-radius-medium: 24px;
$border-radius-small: 16px;
$border-radius-tiny: 8px;

$padding-big: 30px;
$padding-medium: 20px;
$padding-small: 15px;
$padding-tiny: 10px;
