footer {
    width: 100%;
    background: var(--DarkBackgroundLight);
}

.container-footer {
    max-width: 1920px;

    margin-right: auto;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    vertical-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.footer-head-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.fulllogo-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.footer-contact-container p {
    color: white;
    margin-bottom: 5px;
}

.footer-contact-number {
    font-size: 42px;
    font-weight: 600;
}
.footer-contact-number:hover p {
    color: var(--AccentColorBlue);
}

.footer-navs-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    margin-bottom: 30px;
}

.footer-nav-block {
    background-color: var(--DarkBackgroundDark);
    border-radius: 8px;
    color: var(--WhiteColorFont);
    padding: 20px 15px;
}

.footer-nav-block h4 {
    margin-bottom: 15px;
}
.footer-nav-block-navlist-item {
    margin-bottom: 15px;
}

.footer-nav-block li:last-child {
    margin-bottom: 0px;
}

.footer-nav-block-navlist-item a {
    opacity: 0.8;
    color: var(--WhiteColorFont);
}

.footer-nav-block-navlist-item a:hover {
    opacity: 1;
}

.footer-bottom-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-bottom-right {
    display: flex;
    gap: 8px;
}

.footer-bottom-left p {
    color: var(--WhiteColorFont);
    margin-bottom: 10px;
    opacity: 0.8;
}

.footer-pay-method-container {
    width: 100px;
    height: 65px;
    border-radius: 12px;
    padding: 8px;
}

.footer-pay-method-container p {
    font-size: var(--SmallText-size);
    color: var(--WhiteColorFont);
}

.pay-nal {
    background-image: url("../../../public/img/pay-nal.png");
}

.pay-rs {
    background-image: url("../../../public/img/pay-rs.png");
}

.pay-card {
    background-image: url("../../../public/img/pay-card.png");
}

.down-footer {
    position: relative;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
@media screen and (min-width: 1600px) {
    .down-footer ::before {
        position: absolute;
        content: "";
        background-color: black;

        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
        z-index: 1;
    }

    .down-footer ::after {
        position: absolute;
        content: "";
        background-color: black;

        width: 100%;
        height: 100%;
        right: -100%;
        top: 0;
        z-index: 0;
    }
}

.down-footer p {
    color: var(--WhiteColorFont);
}

.progressive-lable {
    color: var(--AccentColorBlue);
}

@media (max-width: 1100px) {
    .footer-navs-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        margin-bottom: 30px;
    }

    .footer-contact-number {
        font-size: 32px;
        font-weight: 600;
    }
}

@media (max-width: 780px) {
    .footer-navs-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-contact-number {
        font-size: 32px;
        font-weight: 600;
    }

    .footer-head-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-bottom-container {
        flex-direction: column;
        gap: 25px;
    }
}

.footer-nav-block-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 480px) {
    .footer-navs-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-contact-number {
        font-size: 32px;
        font-weight: 600;
    }

    .footer-head-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .down-footer {
        height: auto;
        text-align: center;
        padding-bottom: 15px;
        flex-direction: column;
    }

    .footer-head-container {
        align-items: center;
    }

    .toogleIcon {
        background-image: url("../../../public/icons/ArrowDown.svg");
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        transition: all 0.6s ease-in-out;
    }

    .toogleIcon.visible {
        transition: all 0.6s ease-in-out;
        transform: rotate(180deg);
    }

    .footer-nav-block-navlist {
        margin-top: 15px;
    }

    .footer-nav-block-navlist.hidden {
        margin-top: 0px;
        transition: all 0.6s ease-in-out;
    }

    .footer-nav-block-navlist.hidden li {
        display: none;
        height: 0px;
    }

    .footer-nav-block-navlist.visible {
        transition: all 0.6s ease-in-out;
    }
    .footer-nav-block h4 {
        margin-bottom: 5px;
    }

    .footer-nav-block {
        cursor: pointer;
    }
}
