.geo-tab {
  display: inline-flex;
  padding: 12px 8px 12px 6px;
  align-items: center;
  text-align: center;
  gap: 5px;
  height: 20px;
  width: max-content;

  border-radius: 3px;
  border: 1px solid #2d2d2d;
}

/* .search-container {
  display: -webkit-flex;
  border-radius: 4px;
  gap: 5px;

  width: 80%;
  height: 100%;
} */

.headder__search_inp {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: thin;
  scrollbar-color: #2e518b #d9d9d9;
  padding: 0 20px;
  box-sizing: border-box;
  outline: none;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  height: 52px;
  font-size: 16px;
  line-height: 1.33;
  width: 100%;
  border: 1px solid var(--AccentColorBlue);
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.search-button {
  background-image: url("../../../public/icons/search.svg");
  height: 52px;
  width: 64px;
  cursor: pointer;
  background-color: var(--AccentColorBlue);
  background-repeat: no-repeat;
  background-size: 28px 28px;
  background-position: center center;
  border-radius: 4px;
}

.search-button:hover {
  background-color: var(--AccentColorBlueHover);
}

.icons-container {
  height: 100%;
  width: auto;
  display: flex;
  gap: 15px;
}

.icons-container__item:hover {
  color: var(--AccentColorBlue);
}

.left-panel {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .geo-tab {
    display: none;
  }
}

@media (max-width: 960px) {
  .geo-tab {
    visibility: hidden;
  }

  .btn-catalog p {
    display: none;
  }

  .headder__menu_button {
    display: inline-flex;
    padding: 16px 12px 16px 12px;
  }
}

@media (max-width: 640px) {
  .geo-tab {
    visibility: hidden;
  }

  .search-panel {
    order: 2;
  }

  .headder__menu_button p {
    display: none;
  }
}

@media (max-width: 520px) {
  .headder__menu_button p {
    display: none;
  }

  .right-panel {
  }

  .left-panel {
    order: -2;
  }
}
