.container {
    max-width: 100%;
    flex-direction: row;
    vertical-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;

    margin-top: var(--marginTopSection);
}

.wrapper {
    width: 100%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 760px) {
        grid-template-columns: 1fr;
    }
}

.wrapperRight {
    width: 100%;
}

.aboutFactWrapper {
    width: 100%;
    max-width: 800px;

    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    border: 2px var(--AccentColorBlue) solid;
    border-radius: 22px;

    display: flex;
    justify-content: space-between;

    text-align: center;
    align-items: center;

    &:nth-child(2) {
        margin-top: 40px;
    }
}

.aboutFactNumber {
    font-size: 64px;
    color: var(--AccentColorBlue);
    white-space: nowrap;
}

.aboutFactText {
    max-width: 300px;
    text-align: right;
    line-height: 120%;
    opacity: 0.8;
    color: var(--DarkColorFont);
}

.yandexMapWidjetWrapper {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 760px) {
        height: 450px;
        padding-left: 0px;
    }
}

.yandexMapWidjet {
    width: 100%;
    height: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-sizing: border-box;
}

.yandexMapA {
    box-sizing: border-box;
    text-decoration: none;
    color: #b3b3b3;
    font-size: 10px;
    font-family: YS Text, sans-serif;
    padding: 0 20px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 14px;
    white-space: nowrap;
    padding: 0 16px;
    box-sizing: border-box;
}
