@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/variables" as *;

.container {
  @include container;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
  margin-top: 10px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 2fr 1fr;
  }

  @media screen and (max-width: 980px) {
    grid-template-columns: 1.5fr 1fr;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 20px;
  }
}

.slider {
  width: 100%;
  height: 100%;
  max-height: 480px;
}

.slide {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  border-radius: $border-radius-big;
  overflow: hidden;
  padding: $padding-small $padding-medium;

  @media screen and (max-width: 980px) {
    min-height: 400px;
  }
}

.headline {
  font-size: $headline-1;
  font-weight: 600;
  color: $color-white;
  line-height: 1.2;
  margin-bottom: 20px;
  max-width: 1000px;

  @media screen and (max-width: 1200px) {
    font-size: $headline-1-tablet;
  }

  @media screen and (max-width: 768px) {
    font-size: $headline-1-mobile;
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-end;
  margin-bottom: $padding-tiny;
  position: absolute;
  bottom: $padding-small;
  left: $padding-medium;
  right: $padding-medium;

  @media screen and (max-width: 480px) {
    display: block;
  }
}

.description {
  font-size: $text-2;
  max-width: 600px;
  color: $color-white;
  line-height: 1.45;
  opacity: 0.9;

  @media screen and (max-width: 1200px) {
    font-size: $text-2-tablet;
  }

  @media screen and (max-width: 768px) {
    font-size: $text-2-mobile;
  }
  @media screen and (max-width: 480px) {
    margin-bottom: 40px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: $color-white;
  border-radius: $border-radius-small;
  font-size: $text-2;
  text-wrap: nowrap;
  color: $color-black;
  line-height: 1.2;
  max-width: 1000px;
}
