.counter {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 4px;
  font-family: Arial, sans-serif;
  width: max-content;
}

.counterBtn {
  background-color: #f5f5f5;
  border: none;
  color: var(--AccentColorBlue);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #e0e0e0;
  }
}

.disabledCounterBtn {
  background-color: #f5f5f5;
  border: none;
  color: #ccc;
  font-size: 16px;
  font-weight: bold;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: not-allowed;

  &:hover {
    background-color: #f5f5f5;
  }
}

.counterBtn:focus {
  outline: none;
}

.counterDisplay {
  margin: 0 10px;
  font-size: 14px;
  font-weight: normal;
}
