.container {
  max-width: 100%;
  flex-direction: row;
  vertical-align: center;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.cover {
  width: 100%;
  background-image: url("/img/banners/banner.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 30px;

  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 760px) {
    height: auto;
    gap: 15px;
    flex-direction: column;
  }
}

.title {
  color: var(--WhiteColorFont);
  max-width: 70%;
  @media screen and (max-width: 760px) {
    max-width: 100%;
  }
}

.desk {
  font-size: 18px;
  line-height: 155%;
  opacity: 0.8;
  color: var(--WhiteColorFont);
  max-width: 450px;
}

.text {
  color: var(--DarkColorFont);
  font-size: 20px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -0.3px;
  opacity: 0.8;
  margin-bottom: 15px;
  max-width: 680px;
}

.facts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 60px;

  @media screen and (max-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 760px) {
    grid-template-columns: repeat(1, 1fr);
  }

  & .text {
    max-width: 450px;
    font-size: 16px;
  }

  & .image {
    margin-bottom: 15px;
  }
}

.factTitle {
  color: var(--AccentColorBlue);
  font-size: 26px;
  font-family: "Bebas Neue", sans-serif;

  line-height: 120%;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 15px;
}

.serviceCard {
  width: 100%;
  height: 300px;
  border-radius: 22px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--AccentColorBlue);

  @media (max-width: 760px) {
    padding: 15px;
    height: 240px;
  }

  & .factTitle {
    color: var(--WhiteColorFont);
  }

  & .text {
    color: var(--WhiteColorFont);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.7s ease-in-out;
    transition: opacity 0.3s ease-in-out;

    @media (max-width: 760px) {
      max-height: none;
      opacity: 1;
      overflow: visible;
    }
  }

  &:hover {
    background-color: var(--AccentColorBlueHover);
    transition: all 0.7s ease-in-out;
    cursor: pointer;
    & .text {
      transition: all 0.7s ease-in-out;
      max-height: 300px;
      opacity: 1;

      @media (max-width: 760px) {
        max-height: none;
      }
    }
  }
}
