.priceFilter {
  border: 1px solid rgb(74, 74, 74);
  border-radius: 8px;
  background-color: rgb(53, 53, 53);
  padding: 12px;
  font-family: "Arial", sans-serif;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.title {
  color: #e3e3e3;
}

.toggleIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;

  svg {
    transition: transform 0.2s ease;
  }

  &.open svg {
    transform: rotate(180deg);
  }
}

.content {
  margin-top: 12px;
}

.inputGroup {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

.inputItem {
  flex: 1;
}

.label {
  display: block;
  font-size: 12px;
  color: #999;
  margin-bottom: 4px;
}

.input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid rgb(74, 74, 74);
  border-radius: 4px;
  background-color: rgb(53, 53, 53);
  color: #e3e3e3;
  &:focus {
    border-color: #007bff;
    outline: none;
  }
}
