@use "@styles/_variables.scss" as *;
@use "@styles/_mixins.scss";
.characteristics {
  opacity: 0.6;
  padding: 0px 10px 10px 10px;
  background-color: white;
  border: 1px grey solid;
  margin-top: 10px;
  border-radius: 8px;
  color: $color-black;
  li:first-child {
    margin-top: 3px;
    border-top: 0px solid var(--DarkColorFont);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.charLine {
  max-width: 100%;
  display: grid;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 3px;
  border-top: 1px solid var(--DarkColorFont);
  padding-top: 10px;
  font-size: 12px;
  grid-template-columns: auto 1fr auto;
  text-align: left;
  align-items: center;
  vertical-align: center;

  span {
    overflow: hidden;
  }
}

.charValue {
  text-align: right;
}

.placeholder {
  padding: 10px;
  text-align: center;
  color: $color-black;
  opacity: 0.6;
  
  p {
    margin: 0;
    font-size: 12px;
  }
}
