@use "@styles/_variables.scss" as *;
@use "@styles/_mixins.scss" as *;

.container {
  max-width: 100%;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 30px;
  }
}

.title {
  @include headline-2;

  @media screen and (max-width: 1200px) {
    @include headline-2-tablet;
  }

  @media screen and (max-width: 480px) {
    @include headline-2-mobile;
  }
}

.viewAllLink {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  gap: 8px;
  color: var(--DarkColorFont);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.2s ease;

  &:hover {
    color: var(--AccentColorBlue);
  }

  svg {
    flex-shrink: 0;
  }
}

.categoriesWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  @media screen and (max-width: 720px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
